# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual env
.venv/
env/
venv/
betlog/
pyenv/

# Alembic
alembic/versions/*.pyc

# Node / React
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.env
frontend/.env.local

# Mac / OS junk
.DS_Store